<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fussball-Manager</title>
</head>
<body>
<h1>Fussball-Manager</h1>
<form th:object="${verein}" th:action="@{/fb-manager}" method="POST">
    <p style=“text-align:center“>Vereinname: <input type="text" th:field="*{vereinName}"></p>
            <p th:if="${#fields.hasErrors('vereinName')}" th:errors="*{vereinName}"></p>
    <p style=“text-align:center“><input type="submit"></p>
</form>
<ul>
    <li th:each="element : ${vereinListe}">
        <a th:href="@{/fb-manager/{vereinId}(vereinId=${element.vereinId})}"> <span th:text="${element.vereinName}"></span></a>
<!--        <ul>-->
<!--            <li th:each="element2 : ${element.getMannschaft()}">-->
<!--                <span th:text="${element2.spielerName}"></span>-->
<!--                -->
<!--            </li>-->
<!--        </ul>-->
    </li>
</ul>


</body>
</html>