<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fussball-Manager</title>
</head>
<body>
<h1><span th:text="${verein.vereinName}"></span></h1>

<ul>
    <li th:each="element : ${mannschaft}">
        <span th:text="${element.spielerName}"></span>
    </li>
</ul>

<form th:object="${spieler}" th:action="@{/fb-manager/{vereinId}(vereinId=${vereinId})}" method="POST">
    <p style=“text-align:center“>Spielername: <input type="text" th:field="*{spielerName}"></p>
    <p style=“text-align:center“><input type="submit"></p>
</form>

<form th:object="${spieler2}" th:action="@{/fb-manager/{vereinId}(vereinId=${vereinId})}" method="POST">
    <p style=“text-align:center“>Spielername: <input type="text" th:field="*{spielerName}"></p>
    <p style=“text-align:center“><input type="submit">Spieler löschen</p>
</form>


<a th:href="@{/fb-manager}"> Zurück zur Vereinsliste </span></a>

</body>
</html>